<a href="https://colab.research.google.com/github/ssook1222/Data-Analysis-Crush/blob/main/1%ED%9A%8C%EB%8F%85/1%EC%98%81%EC%97%AD/%EC%98%88%EB%AC%B8%EC%82%AC/Iris_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363
Receiving objects: 100% (709/709), 11.46 MiB | 9.96 MiB/s, done.
Resolving deltas: 100% (341/341), done.

In [6]:
import pandas as pd

df = pd.read_csv('./yemoonsaBigdata/datasets/Part2/iris.csv')

1. 가장 큰 값과 작은 값 사이의 차이

In [7]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [60]:
print(round(df.groupby('species').petal_width.quantile(0.75).max() - df.groupby('species').petal_width.quantile(0.75).min(), 0))

2.0

2. 리스트에 10번째 오는 숫자

In [61]:
lst = list(df.sepal_length.drop_duplicates().values)
lst.sort()
print(lst[9])

5.2

3. 표준편차 값을 구한 후 50을 곱한 값을 계산하시오

In [31]:
test_data = df.sepal_width.sort_values(ascending = False).head(100)
print(round(test_data.std() * 50, 0))

16.0

4. 평균 값의 합을 구하시오.

In [54]:
df_raw = df.sort_values('petal_length', ascending = False)
df4 = df_raw.groupby('species', as_index = False).head(10)
df4 = df4.groupby('species').petal_length.mean(10)

means = round(sum(df4.values), 0)
print(means)

13.0

5. 이상치를 가지는 데이터 행 수를 계산하시오

In [66]:
criteria = df.sepal_length.mean()
stds = df.sepal_length.std()

ans = df[(criteria + 2 * stds <= df.sepal_length ) | (criteria - 2 * stds >= df.sepal_length) ].count()
print(ans.values[0])

6