<a href="https://colab.research.google.com/github/ssook1222/Data-Analysis-Crush/blob/main/1%ED%9A%8C%EB%8F%85/%EA%B8%B0%EC%B6%9C/7th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363
Receiving objects: 100% (709/709), 11.46 MiB | 7.57 MiB/s, done.
Resolving deltas: 100% (341/341), done.

### 1영역

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('./yemoonsaBigdata/datasets/Part5/ex7/07.01.01-students_scores.csv')

1-1. 학생 데이터

In [3]:
stats = df.Statistics.count()
ds = df.DataScience.count()
ml = df.MachineLearning.count()
el = df.EnglishLiterature.count()

# print(stats, ds, ml, el)
print('Statistics')

Statistics

In [4]:
df_1 = df.dropna(subset='Statistics', axis = 0)
df_1 = df_1['Statistics'].values.reshape(-1, 1)
from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()

df_1_st_data = min_max.fit_transform(df_1)

In [5]:
print(df_1_st_data.max())

1.0

1-2. 물고기 데이터 상관관계

In [6]:
df2 = pd.read_csv('./yemoonsaBigdata/datasets/Part5/ex7/07.01.02-fish_weight_data.csv')

In [7]:
df2.columns

Index(['id', 'Length', 'Height', 'Width', 'FinSize', 'Weight'], dtype='object')

In [8]:
df2.corr()
print('Length')

Length

1-3. 이상치의 개수

In [9]:
df3 = pd.read_csv('./yemoonsaBigdata/datasets/Part5/ex7/07.01.03-apartment_prices_dataset.csv')

In [10]:
df3.dropna(inplace = True)

In [13]:
cols = df3.columns
cnt = 0
ans = []
for col in cols:
  IQR = df3[col].quantile(0.25) - df3[col].quantile(0.75)
  cnt = (((df3[col] < df3[col].quantile(0.75) - (1.5 * IQR))) | (df3[col].quantile(0.25) > df3[col] + (1.5 * IQR))).sum()
  print(cnt)
  ans.append([col, cnt])
  # print(col, end = ' ')
  # print(((df3[col] < df3[col] - (1.5 * IQR)) | (df3[col] > df3[col] + (1.5 * IQR))))

734
732
733
731
720
734
730
731
730
732
735

In [14]:
ans

[['Size', 734],
 ['Bedrooms', 732],
 ['Bathrooms', 733],
 ['Floor', 731],
 ['Age', 720],
 ['DistanceToCenter', 734],
 ['NearbySchools', 730],
 ['NearbyParks', 731],
 ['PublicTransport', 730],
 ['SafetyIndex', 732],
 ['Price', 735]]

In [15]:
print('Age')

Age

### 2영역

2

In [20]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [16]:
train = pd.read_csv('./yemoonsaBigdata/datasets/Part5/ex7/07.02.01-sales_train_dataset.csv')
x_test = pd.read_csv('./yemoonsaBigdata/datasets/Part5/ex7/07.02.02-sales_test_dataset_x.csv')

In [23]:
train.columns

Index(['BranchName', 'City', 'Population', 'IncomeGeneratingPopRatio',
       'AverageIncome', 'IndustryType', 'Sales'],
      dtype='object')

In [46]:
x_train = train[['BranchName', 'City', 'Population', 'IncomeGeneratingPopRatio','AverageIncome', 'IndustryType']]
y_train = train[['Sales']]

In [47]:
x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size = 0.3)

In [33]:
print(x_tr.isna().sum())
print(x_val.isna().sum())

BranchName                  0
City                        0
Population                  0
IncomeGeneratingPopRatio    0
AverageIncome               0
IndustryType                0
dtype: int64
BranchName                  0
City                        0
Population                  0
IncomeGeneratingPopRatio    0
AverageIncome               0
IndustryType                0
dtype: int64

In [34]:
print(x_tr.isna().info())
print(x_val.isna().info())

<class 'pandas.core.frame.DataFrame'>
Index: 490 entries, 300 to 621
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   BranchName                490 non-null    bool
 1   City                      490 non-null    bool
 2   Population                490 non-null    bool
 3   IncomeGeneratingPopRatio  490 non-null    bool
 4   AverageIncome             490 non-null    bool
 5   IndustryType              490 non-null    bool
dtypes: bool(6)
memory usage: 6.7 KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 210 entries, 460 to 624
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   BranchName                210 non-null    bool
 1   City                      210 non-null    bool
 2   Population                210 non-null    bool
 3   IncomeGeneratingPopRatio  210 non-null    bool
 4   AverageIncome             210 non-null    bool
 5   IndustryType              210 non-null    bool
dtypes: bool(6)
memory usage: 2.9 KB
None

In [38]:
le = LabelEncoder()
cols = x_tr.columns

for col in cols:
  x_tr[col] = le.fit_transform(x_tr[col])
  x_val[col] = le.fit_transform(x_val[col])

In [39]:
dtr = DecisionTreeRegressor()
model = dtr.fit(x_tr, y_tr)

In [40]:
predict = model.predict(x_val)
print(mean_squared_error(predict, y_val))

2.6350040299869764e+16

In [48]:
submit = pd.DataFrame(predict, columns = y_tr.columns)

In [50]:
submit.to_csv('./result.csv', index = False)

### 3영역

3-1

3-1-1

In [54]:
from scipy import stats
import statsmodels.api as sm

In [81]:
df = pd.read_csv('./yemoonsaBigdata/datasets/Part5/ex7/07.03.01-gender_prediction_dataset.csv')

In [56]:
df.columns

Index(['Height', 'Weight', 'ShoeSize', 'Gender'], dtype='object')

In [82]:
x = df[['Height', 'Weight', 'ShoeSize']]
y = df[['Gender']]

In [88]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

y = le.fit_transform(y)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [89]:
x = sm.add_constant(x)
model = sm.Logit(y,x.values).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.054594
         Iterations 11
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  300
Model:                          Logit   Df Residuals:                      296
Method:                           MLE   Df Model:                            3
Date:                Thu, 20 Jun 2024   Pseudo R-squ.:                  0.9212
Time:                        16:03:40   Log-Likelihood:                -16.378
converged:                       True   LL-Null:                       -207.92
Covariance Type:            nonrobust   LLR p-value:                 1.024e-82
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const       -139.4012     28.169     -4.949      0.000    -194.611     -84.192
x1             0.4338      0.106      4.083      0.000       0.226       0.642
x2             0.2963      0.085      3.490      0.000       0.130       0.463
x3             0.1907      0.044      4.338      0.000       0.105       0.277
==============================================================================

Possibly complete quasi-separation: A fraction 0.44 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

In [80]:
print(np.exp(0.0917))

1.0960359619656765

3-1-2.

In [64]:
print(-173.66)

-173.66

3-1-3.

In [66]:
print(1.331e-15)

1.331e-15

3-2-1.

In [93]:
df = pd.read_csv('./yemoonsaBigdata/datasets/Part5/ex7/07.03.02-used_car_price_dataset.csv')

In [94]:
df.columns

Index(['year', 'price', 'transmission', 'mileage', 'fuelType', 'tax', 'mpg',
       'engineSize'],
      dtype='object')

In [95]:
x = df[['year','transmission', 'mileage', 'fuelType', 'tax', 'mpg','engineSize']]
y = df[['price']]

In [97]:
for col in x.columns:
  x[col] = le.fit_transform(x[col])

In [98]:
x = sm.add_constant(x)
model = sm.OLS(y, x).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.743
Model:                            OLS   Adj. R-squared:                  0.743
Method:                 Least Squares   F-statistic:                     2062.
Date:                Thu, 20 Jun 2024   Prob (F-statistic):               0.00
Time:                        16:07:48   Log-Likelihood:                -50568.
No. Observations:                5000   AIC:                         1.012e+05
Df Residuals:                    4992   BIC:                         1.012e+05
Df Model:                           7
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         3.634e+04   1181.466     30.755      0.000     3.4e+04    3.87e+04
const        -1.601e-08   5.33e-10    -30.023      0.000   -1.71e-08    -1.5e-08
year          1643.2545     88.658     18.535      0.000    1469.446    1817.063
transmission   -72.5352    121.506     -0.597      0.551    -310.739     165.669
mileage         -1.1891      0.137     -8.649      0.000      -1.459      -0.920
fuelType     -1047.7624    141.171     -7.422      0.000   -1324.519    -771.006
tax           -594.1136     36.467    -16.292      0.000    -665.604    -522.623
mpg           -445.2760     12.276    -36.271      0.000    -469.343    -421.209
engineSize    1599.3867     61.745     25.903      0.000    1478.340    1720.433
==============================================================================
Omnibus:                     4803.306   Durbin-Watson:                   1.872
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           459117.539
Skew:                           4.372   Prob(JB):                         0.00
Kurtosis:                      49.123   Cond. No.                     4.33e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.17e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [99]:
print(0.743)

0.743

3-2-2

In [74]:
print(('year', 1643.2545))

('year', 3314.1099)

3-3-3.

In [79]:
model.pvalues
print(model.pvalues.idxmin)

print(('year', 0.000000e+00))
print(('engineSize', 0.000000e+00))

<bound method Series.idxmin of year            0.000000e+00
transmission    8.359264e-01
mileage         1.817968e-01
fuelType        6.916250e-64
tax             1.460484e-04
mpg             1.301502e-67
engineSize      0.000000e+00
dtype: float64>
('year', 0.0)
('engineSize', 0.0)