<a href="https://colab.research.google.com/github/ssook1222/Data-Analysis-Crush/blob/main/1%ED%9A%8C%EB%8F%85/2%EC%98%81%EC%97%AD/Stellar_part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

import pandas as pd

Cloning into 'yemoonsaBigdata'...
remote: Enumerating objects: 709, done.
remote: Counting objects: 100% (346/346), done.
remote: Compressing objects: 100% (231/231), done.
remote: Total 709 (delta 156), reused 237 (delta 115), pack-reused 363
Receiving objects: 100% (709/709), 11.46 MiB | 7.03 MiB/s, done.
Resolving deltas: 100% (341/341), done.

In [2]:
x_test = pd.read_csv('./yemoonsaBigdata/datasets/Part2/stellar_X_test.csv')
x_train = pd.read_csv('./yemoonsaBigdata/datasets/Part2/stellar_X_train.csv')
y_train = pd.read_csv('./yemoonsaBigdata/datasets/Part2/stellar_y_train.csv')

In [13]:
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [7]:
x_tr, x_val, y_tr, y_val = train_test_split(x_train, y_train, test_size = 0.3)

In [9]:
print(x_tr.isna().sum())
print(x_val.isna().sum())
print(y_tr.isna().sum())

alpha       0
delta       0
u           0
g           0
r           0
i           0
z           0
redshift    0
run_ID      0
rerun_ID    0
cam_col     0
field_ID    0
plate       0
dtype: int64
alpha       0
delta       0
u           0
g           0
r           0
i           0
z           0
redshift    0
run_ID      0
rerun_ID    0
cam_col     0
field_ID    0
plate       0
dtype: int64
galaxy    0
dtype: int64

In [10]:
print(x_tr.info())
print(x_val.info())
print(y_tr.info())

<class 'pandas.core.frame.DataFrame'>
Index: 49000 entries, 16138 to 14382
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     49000 non-null  float64
 1   delta     49000 non-null  float64
 2   u         49000 non-null  float64
 3   g         49000 non-null  float64
 4   r         49000 non-null  float64
 5   i         49000 non-null  float64
 6   z         49000 non-null  float64
 7   redshift  49000 non-null  float64
 8   run_ID    49000 non-null  int64
 9   rerun_ID  49000 non-null  int64
 10  cam_col   49000 non-null  int64
 11  field_ID  49000 non-null  int64
 12  plate     49000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 5.2 MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 21000 entries, 55317 to 32016
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     21000 non-null  float64
 1   delta     21000 non-null  float64
 2   u         21000 non-null  float64
 3   g         21000 non-null  float64
 4   r         21000 non-null  float64
 5   i         21000 non-null  float64
 6   z         21000 non-null  float64
 7   redshift  21000 non-null  float64
 8   run_ID    21000 non-null  int64
 9   rerun_ID  21000 non-null  int64
 10  cam_col   21000 non-null  int64
 11  field_ID  21000 non-null  int64
 12  plate     21000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 2.2 MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 49000 entries, 16138 to 14382
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   galaxy  49000 non-null  int64
dtypes: int64(1)
memory usage: 765.6 KB
None

In [15]:
min_max = MinMaxScaler()

x_tr_data = min_max.fit_transform(x_tr)
x_val_data = min_max.fit_transform(x_val)

x_tr = pd.DataFrame(x_tr_data, columns = x_tr.columns)
x_val = pd.DataFrame(x_val_data, columns = x_val.columns)

In [16]:
dtc = DecisionTreeClassifier()
model = dtc.fit(x_tr, y_tr)
predict = model.predict(x_val)

In [17]:
print(accuracy_score(predict, y_val))

0.7696190476190476

In [18]:
print(y_val)

       galaxy
55317       1
47963       0
35205       0
43482       1
35163       0
...       ...
13252       1
8061        1
4102        0
64456       1
32016       1

[21000 rows x 1 columns]

In [22]:
submit = pd.DataFrame(predict, columns = y_val.columns)
print(submit.head(5))
submit.to_csv('./submit', index = False)

   galaxy
0       0
1       0
2       1
3       0
4       0