<a href="https://colab.research.google.com/github/ssook1222/Data-Analysis-Crush/blob/main/1%ED%9A%8C%EB%8F%85/1%EC%98%81%EC%97%AD/task1_106.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 대한민국 체력장 데이터

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

### Question 71

전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [ ]:
df['혈압차'] = df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']
df.혈압차.mean()

52.19539414750672

### Question 72

50~59세의 신장평균을 구하여라

In [ ]:
df[(df['측정나이'] >= 50) & (df['측정나이'] < 60)]['신장 : cm'].mean()

164.07490107405314

### Question 73

연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [ ]:
def check(x):
  if 20 <= x <= 29:
    return '20대'

  elif 30 <= x <= 39:
    return '30대'

  elif 40 <= x <= 49:
    return '40대'

  elif 50 <= x <= 59:
    return '50대'

  elif 60 <= x <= 69:
    return '60대'

In [ ]:
df['연령대'] = df['측정나이'].apply(check)
df.연령대.value_counts()

연령대
20대    5831
30대    2660
40대    1801
50대    1769
60대    1335
Name: count, dtype: int64

### Question 74

연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [ ]:
df.groupby(['연령대', '등급']).size()

연령대  등급
20대  A     1585
     B     1443
     C     1455
     D     1348
30대  A      743
     B      697
     C      626
     D      594
40대  A      386
     B      428
     C      455
     D      532
50대  A      321
     B      410
     C      474
     D      564
60대  A      314
     B      371
     C      339
     D      311
dtype: int64

### Question 75

남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [ ]:
abs(df[(df.측정회원성별 == 'M') & (df.등급 == 'A')]['체지방율 : %'].mean() - df[(df.측정회원성별 == 'M') & (df.등급 == 'D')]['체지방율 : %'].mean())

7.932086486137521

### Question 76

여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [ ]:
abs(df[(df.측정회원성별 == 'F') & (df.등급 == 'A')]['체중 : kg'].mean() - df[(df.측정회원성별 == 'F') & (df.등급 == 'D')]['체중 : kg'].mean())

5.176211590296504

### Question 77

bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [ ]:
df['bmi'] = df['체중 : kg'] / (df['신장 : cm'] * 0.01)**2
df[(df.측정회원성별 == 'M')].bmi.mean()

24.46134409819308

### Question 78

bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [ ]:
df[(df['bmi'] <= df['체지방율 : %'])]['체중 : kg'].mean()

61.7408806392542

### Question 79

남성과 여성의 악력 평균의 차이를 구하여라

In [ ]:
df[(df.측정회원성별 == 'M')]['악력D : kg'].mean() - df[(df.측정회원성별 == 'F')]['악력D : kg'].mean()

17.55954185047464

### Question 80

남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [ ]:
df[(df.측정회원성별 == 'M')]['교차윗몸일으키기 : 회'].mean() - df[(df.측정회원성별 == 'F')]['교차윗몸일으키기 : 회'].mean()

14.243156833157627